<!--CHAT-->
<div class="flexContainer">
    <div class="flexItem flexItemLeft">

        <h1>Chat</h1>

        <ul id="messageView">
            <li class="message" *ngFor="let message of chatMessages"><b>{{message.username}}</b>: {{message.message}}</li>
        </ul>
        
        <form id="messageForm" (keyup.enter)="sendMessage()" [formGroup]="form">
            <textarea type="text" #messageInput formControlName="message" maxlength="70" autofocus></textarea>
            <button>Send</button>

        </form>

    </div>

    <!--GAME LIST-->
    <div class="flexItem flexItemMiddle">
        <div></div>
    </div>

    <!--ONLINE USERS-->
    <div class="flexItem flexItemRight">

        <h1>Users</h1>
        
        <ul id="userView">
            <li class="user" *ngFor="let user of onlineUsers">{{user}}</li>
        </ul>

    </div>
</div>