/* You can add global styles to this file, and also import other style files */

body { 
    background-color: azure;
    font-family: 'Lora', serif;
}

h1, button {
    font-family: '8BITWONDERNominal'; 
}