<div id="flex">
    <div id="container">

        <h1>BROWSER GAMES</h1>

        <hr>

        <form (submit)="submit()" [formGroup]="form">

            <div>
                <label for="username">Please insert a username!</label><br>
                <input type="text" formControlName="username" placeholder="Insert username..."><br>
            </div>

            <div>
                <label for="ip">Please insert server IP address!</label><br>
                <input type="text" formControlName="IP" placeholder="192.168.1.104"><br>
            </div>
            
            <button [disabled]="form.invalid">Lego</button>
        
        </form>
    </div>
</div>